@model IEnumerable<Homework_SkillTree.Models.BookKeepingViewModel>

@{
    ViewData["Title"] = "Home Page";
    var bookKeeping = new Homework_SkillTree.Models.BookKeepingViewModel();

    var prevPage = (int)ViewBag.CurrentPage - 1;
    var nextPage = (int)ViewBag.CurrentPage + 1;
    var totalPages = (int)ViewBag.TotalPages;
}

<h2>Index頁</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="category" class="col-sm-2 col-form-label">類別</label>
                <select id="category" asp-validation-for="Category" name="Category" class="form-select" required>
                    <option value="" selected>請選擇</option>
                    <option>支出</option>
                    <option>收入</option>
                </select>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-2 col-form-label">日期</label>
                <input type="datetime-local" name="TransDate" class="form-control" required />
                <span asp-validation-for="@bookKeeping.TransDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="money" class="col-sm-2 col-form-label">金額</label>
                <input name="Amount" class="form-control" required />
                <span asp-validation-for="@bookKeeping.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 col-form-label">備註</label>

                <textarea name="Description" class="form-control" id="description" rows="3" required></textarea>

                <span asp-validation-for="@bookKeeping.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    @if ((string)ViewData["Message"] == "存檔成功")
    {
        <label class="form-label text-success">存檔成功!</label>
    }
    else if ((string)ViewData["Message"] == "存檔失敗")
    {
        <label class="form-label text-danger">存檔失敗!</label>
    }
}

<hr />


<h1>清單List</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th style="width: 5%">
                    流水號
                </th>
                <th style="width: 10%">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th style="width: 15%">
                    @Html.DisplayNameFor(model => model.TransDate)
                </th>
                <th style="width: 15%">
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th style="width: 35%; word-wrap: break-word; white-space: normal;">  
                      @Html.DisplayNameFor(model => model.Description)  
                </th>
                <th style="width: 20%">
                    <span>功能</span>
                </th>
            </tr>
        </thead>
        <tbody>
           
            @foreach (var item in Model)
            {
                var index = (((int)ViewBag.CurrentPage - 1) * 10) + @Model.ToList().IndexOf(item)+1;
                <tr>
                    <td class="text-center">
                        @index
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransDate)
                    </td>
                    <td class="text-end">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td style="word-wrap: break-word; white-space: normal;">
                        @{
                            var description = item.Description?.Length > 50
                            ? item.Description.Substring(0, 50) + "..."
                            : item.Description;
                        }
                        @Html.DisplayFor(modelItem => description)
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-primary" asp-route-id="@item.keyId" onclick="alert('尚未開發完成')">
                                <i class="bi bi-pencil"></i> 明細
                            </a>
                            <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.keyId">
                                <i class="bi bi-trash"></i> 刪除
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


 
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm flex-wrap justify-content-center gap-1">
            <li class="page-item @(prevPage < 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = prevPage })"
                   aria-label="Previous" @(prevPage < 1 ? "tabindex=-1" : "")>
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (var i = 1; i <= totalPages; i++)  
            {  
               <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">  
                   <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>  
               </li>  
            }

            <li class="page-item @(nextPage > totalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = nextPage })"
                   aria-label="Next" @(nextPage > totalPages ? "tabindex=-1" : "")>
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>



@* 
<div class="container mt-4">
    <div class="card bg-light">
        <div class="card-body">
            <form>
                <div class="row mb-3">
                    <label for="category" class="col-sm-2 col-form-label">類別</label>
                    <div class="col-sm-10">
                        <select id="category" class="form-select">
                            <option value="" selected>請選擇</option>
                            <option>支出</option>
                            <option>收入</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="money" class="col-sm-2 col-form-label">金額</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="money" placeholder="金額">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="date" class="col-sm-2 col-form-label">日期</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="date" placeholder="日期">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">備註</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">送出</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>類別</th>
                        <th>日期</th>
                        <th>金額</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>支出</td>
                        <td>2025-01-01</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>支出</td>
                        <td>2025-01-02</td>
                        <td>1,600</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>支出</td>
                        <td>2025-01-03</td>
                        <td>8,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 *@